name: Deploy to Cloudflare Workers

on:
  push:
    branches:
      - "main" # فقط زمانی که به شاخه اصلی پوش می‌شود اجرا شو
  workflow_dispatch: # امکان اجرای دستی

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Wrangler
        run: npm install -g wrangler

      - name: Deploy Worker
        run: wrangler deploy
        env:
          # از توکنی که در مرحله ۲ ثبت کردیم استفاده می‌کند
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
