name: Manual or Push Trigger Build

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-commit:
    runs-on: ubuntu-latest
    
    # این بخش برای دادن تمام مجوزهای لازم آپدیت شد
    permissions:
      contents: write
      workflows: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scraper script
        run: python scraper.py
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
          GITLAB_API_TOKEN: ${{ secrets.GITLAB_API_TOKEN }}
          GITLAB_SNIPPET_ID: ${{ secrets.GITLAB_SNIPPET_ID }}
          SUPABASE_URL: ${{ secrets.SUPABASE_URL }}
          SUPABASE_SERVICE_KEY: ${{ secrets.SUPABASE_SERVICE_KEY }}

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions Bot"
          git config --global user.email "actions@github.com"
          git add .
          git commit -m "Update config files" -a || echo "No changes to commit"
          git push --force
