name: Minimal V2V Test

on:
  workflow_dispatch:
  push:
    branches: [ main, master ]
  schedule:
    - cron: '0 0 * * *' # daily test

jobs:
  test_workflow:
    runs-on: ubuntu-latest
    steps:
      - name: Report Success
        run: |
          echo "Minimal V2V Workflow started and succeeded!"
